body {
  background-color: #394D82;
  font-family: sans-serif;
  font-size: 16px;
}
label {
  display: block;
  margin: 0.5rem 0;
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}
#submit {
  width: 100%;
  background-color: green;

}
fieldset {
  border: none;
  padding: 1.5rem 0;
  background-color: #0B43D8;
}
